{% load static %}

<!DOCTYPE HTML>
<html>
<head>
    <title> CRUD </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
</head>
<body>

    {% include 'app/navbar.html' %}

    {% block content %} 
    
    
    {% endblock content %}

    <hr>
</body>
</html>